* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

 #mainpage, footer{
    text-align: center;
    color: rgb(255, 255, 255);
}

.home_text a {
    text-align: center;
    color: black;
}

#nav-right a, #nav-left a, footer a {
    color: white;
}

#nav-right a:hover, #nav-left a:hover, footer a:hover {
    color: rgb(157, 251, 225);
}

nav {
    display: flex;
    place-content: center;
    background: linear-gradient(to left,rgba(3, 127, 176, 1) 0,rgba(32, 76, 98, 1) 100%);
    padding : 1.5rem 0;
    font-size: 2.5rem;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.3);
    text-shadow: 0px 5px 6px rgba(0,0,0,0.6);

}

#forum {
    height: 50rem;
    color: rgb(0, 0, 0);
}


h1 {
    margin: 1.5rem 0 0.5rem 0;
    font-size: 3rem;
}

.home_text{
    margin-bottom: 1rem  ;
}

p.home_text{
    font-size: 18px;
} 

.contenu_category {
    letter-spacing : 2px ;
    color: white;
    font-size: 1.7rem;
    text-shadow: 0px 5px 6px rgba(0,0,0,0.6);
}

.contenu_category:hover {
    color: rgb(157, 251, 225);
}

.container_category {
    gap: 3em;
    display: flex;
    margin-top: 3.5rem;
    justify-content: center;
}

.container_category p {
    width: 250px;
    border: 1px solid rgba(54,194,182,0.96);
    border-radius: 10px;
    box-shadow: 6px 6px 19px -3px rgba(0,0,0,0.59);
    -webkit-box-shadow: 6px 6px 19px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 6px 6px 19px -3px rgba(0,0,0,0.59);
    padding: 1rem;
    background: linear-gradient(to left,rgba(3, 127, 176, 1) 0,rgba(32, 76, 98, 1) 100%);
}


.container_topics a {
    display: grid;
    justify-items: start;
    width: 440px;
    margin: 20px;
    padding: 20px;
    color: white;
    border: 1px solid rgba(54,194,182,0.96);
    border-radius: 10px;
    box-shadow: 6px 6px 19px -3px rgba(0,0,0,0.59);
    -webkit-box-shadow: 6px 6px 19px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 6px 6px 19px -3px rgba(0,0,0,0.59);
    padding: 1rem;
    background: linear-gradient(to left,rgba(3, 127, 176, 1) 0,rgba(32, 76, 98, 1) 100%);
}

.title_topic:hover{
    color: rgb(157, 251, 225);
}


.title_topic {
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
}

.p_topic {
    font-size: 13px;
}

.user_topic {
    font-size:larger;
}

.user_topic:hover {
    color: rgb(157, 251, 225);
}

/* -------------------------------- FOOTER -------------------------------- */

footer {
    background: linear-gradient(to left,rgba(3, 127, 176, 1) 0,rgba(32, 76, 98, 1) 100%);
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px -7px 7px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px -7px 7px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -7px 7px -3px rgba(0,0,0,0.3);
    padding : 1.5rem 0;
    font-size: 1.5rem;
}