* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

 #mainpage, footer{
    text-align: center;
    color: rgb(255, 255, 255);
}

.home_text a {
    text-align: center;
    color: black;
}

#nav-right a, #nav-left a, footer a {
    color: white;
}

nav {
    display: flex;
    place-content: center;
    background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    padding : 1.25rem 0;
    font-size: 2.5rem;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

#forum {
    height: 49rem;
    color: black;
}

h1 {
    margin: 1.5rem 0 0.5rem 0;
    font-size: 3rem;
}

.home_text{
    margin-bottom: 1rem  ;
}

p.home_text{
font-size: 18px;
} 

.contenu_category {
    letter-spacing : 2px ;
    color:black;
    font-size: 3rem;
}

.contenu_category:hover {
    font-size: 3.25rem;
    font-weight: bold;
}

.container_category {
    gap: 3em;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}


/* -------------------------------- FOOTER -------------------------------- */

footer {
    background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding : 1.25rem 0;
    font-size: 1.5rem;
}